{%extends "base.html" %}

{% block title %}羅翊迪的網站{% endblock %}

{% block headmessage %}<h1>流浪動物查詢</h1>{% endblock %}

{% block content %}
<table class="table table-striped table-hover">
    <tr>
        <td>ID</td><td>地點</td><td>種類</td><td>性別</td><td>狀態</td><td>註解</td><td>資料更新日期</td>
    </tr>

    {% for animal in animals %}
    <tr>
        <td>{{ animal.aid}}</td>
        <td>{{ animal.place}}</td>
        <td>{{ animal.kind}}</td>
        <td>{{ animal.sex | yesno:"母,公"}}</td>
        <td>{{ animal.status}}</td>
        <td>{{ animal.remark}}</td>
        <td>{{ animal.update}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}