<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">羅翊迪</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://mis.nkust.edu.tw/">資管系</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://led.c110118136.repl.co/">LED的後台(1)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/animal/">流浪動物查詢</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/">管理後臺</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>